In [1]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [2]:
for year in range(2002, 2051, 4):
    print(year)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [3]:
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [4]:
for i in range(99, -1, -1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [5]:
for i in range(10):
    print(f"0.{i}")

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [6]:
for i in range(1, 10):
    print(f"3 x {i} = {3 * i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [7]:
for i in range(1, 10, 2):
    print(f"3 x {i} = {3 * i}")

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [8]:
total = 0
for i in range(1, 11):
    total += i
print(total)

55

In [9]:
total = 0
for i in range(1, 11, 2):
    total += i
print(total)

25

In [10]:
product = 1
for i in range(1, 11):
    product *= i
print(product)

3628800

In [11]:
price_list = [32100, 32150, 32000, 32500]
for price in price_list:
    print(price)

32100
32150
32000
32500

In [12]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [13]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1, len(price_list)):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [14]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list) - 1, -1, -1):
    print(price_list[i])

32500
32000
32150
32100

In [15]:
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list) - 2):
    print(my_list[i], my_list[i + 1], my_list[i + 2])

가 나 다
나 다 라
다 라 마

In [16]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i - 1])

라 다
다 나
나 가

In [17]:
my_list = [100, 200, 300, 400]
for num in my_list:
    print(num + 10)

110
210
310
410

In [18]:
my_list = [100, 200, 300, 400, 500]
for i in range(1, len(my_list)):
    print(my_list[i] - my_list[i - 1])

100
100
100
100

In [19]:
my_list = [100, 200, 300, 400, 500]
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i] - my_list[i - 1])

100
100
100
100

In [20]:
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

In [21]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]

In [22]:
stock = [["시가", 100, 200, 300, 400], ["종가", 80, 210, 330, 500]]
print(stock[0])

['시가', 100, 200, 300, 400]

In [23]:
stock = [["시가", 100, 200, 300, 400], ["종가", 80, 210, 330, 500]]
print(stock[1][1:])

[80, 210, 330, 500]

In [24]:
menu = ["면라", "김밥", "음료", "디저트"]
for item in menu:
    print("오늘의 메뉴:", item)

오늘의 메뉴: 면라
오늘의 메뉴: 김밥
오늘의 메뉴: 음료
오늘의 메뉴: 디저트

In [25]:
menu = ["면라", "김밥", "음료", "디저트"]
for index, item in enumerate(menu):
    print(f"{index + 1}. {item}")

1. 면라
2. 김밥
3. 음료
4. 디저트

In [26]:
menu = ["면라", "김밥", "음료", "디저트"]
for index, item in enumerate(menu, start=101):
    print(f"{index}. {item}")

101. 면라
102. 김밥
103. 음료
104. 디저트

In [27]:
menu = ["면라", "김밥", "음료", "디저트"]
for i in range(len(menu) - 1, -1, -1):
    print(menu[i])

디저트
음료
김밥
면라

In [28]:
menu = ["면라", "김밥", "음료", "디저트"]
for i in range(1, len(menu), 2):
    print(menu[i])

김밥
디저트

In [29]:
data = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(data)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [30]:
data = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
print(data['메로나'])

1000

In [31]:
data = {'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}
data['메로나'] = 1300
print(data)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800}

In [32]:
for line in data:
    for column in line:
        print(column * 1.00014)

TypeError: can't multiply sequence by non-int of type 'float'

In [33]:
for line in data:
    for column in line:
        print(column * 1.00014)
    print("----")

TypeError: can't multiply sequence by non-int of type 'float'