In [9]:
# 001 print 기초
print("Hello World")

Hello World

In [10]:
#002
print("Mary's cosmetics")

Mary's cosmetics

In [11]:
#003
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [15]:
#004
print("C:\Windows")

C:\Windows

<>:2: SyntaxWarning: invalid escape sequence '\W'
<>:2: SyntaxWarning: invalid escape sequence '\W'
C:\Users\munseoyeon\AppData\Local\Temp\ipykernel_26920\4152734933.py:2: SyntaxWarning: invalid escape sequence '\W'
  print("C:\Windows")

In [17]:
#005
print("안녕하세요.\n만나서\t\t반갑습니다.") 
#`\t`는 탭을 의미하고 `\n'`은 줄바꿈을 의미

안녕하세요.
만나서		반갑습니다.

In [18]:
#006
print ("오늘은", "일요일") # 오늘은 일요일

오늘은 일요일

In [20]:
#007
print('naver', 'kakao', 'samsung', sep=";")

naver;kakao;samsung

In [21]:
#008
print('naver', 'kakao', 'samsung', sep="/")

naver/kakao/samsung

In [23]:
#009
print("first", end='');print("second")

firstsecond

In [25]:
#010
print(5/3)

1.6666666666666667

In [32]:
#파이썬 변수 
#011
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [1]:
#012
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

In [6]:
#013
s = "hello"
t = "python"
print(s + '!', t)

hello! python

In [7]:
#014
2 + 2 * 3

8

In [9]:
#015
a = "132"
print (type(a))

<class 'str'>

In [1]:
#016
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [2]:
#17
num = 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [3]:
#18
data = "15.79"
data = float(data)
data

15.79

In [4]:
#019
year = "2020"
print(int(year)-3)  
print(int(year)-2)  
print(int(year)-1)

2017
2018
2019

In [6]:
#020
월 = 48584
총금액 = 월 * 36
print(총금액)

1749024

In [7]:
#021
letters = 'python'
print(letters[0], letters[2])

p t

In [9]:
#022
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [12]:
#023
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [15]:
#024
string = "PYTHON"
print(string[::-1])

NOHTYP

In [19]:
#025 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [20]:
#026
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace('-', '')
print(phone_number1)

01011112222

In [23]:
#027
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [24]:
#028
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [33]:
#029
string = 'abcdfe2a354a32a'
string1 =string.replace('a', 'A')
string1

'Abcdfe2A354A32A'

In [37]:
#030
string = 'abcd'
string.replace('b', 'B')
print(string1)            # aBcd

aBcd

In [40]:
#031a = "3"
a = "3"
b = "4"
print(a + b)  #34

34

In [41]:
#032
print("Hi" * 3) #HIHIHI

HiHiHi

In [42]:
print("-" * 80)

--------------------------------------------------------------------------------

In [47]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [51]:
#035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [52]:
#036
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [53]:
#037
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [1]:
#038
상장주식수 = "5,969,782,550"
f = 상장주식수.replace(",", "")
a = int(f)
print(a, type(a))

5969782550 <class 'int'>

In [4]:
#039
분기 = "2020/03(E) (IFRS연결)"
a = 분기[0:7]
a

'2020/03'

In [6]:
#040
data = "   삼성전자    "
data1 = data.strip()

In [10]:
#041
ticker = "btc_krw"
f = ticker.upper()
f

'BTC_KRW'

In [15]:
#042
ticker = "BTC_KRW"
f = ticker.lower()
f

'btc_krw'

In [17]:
#043
a = "hello"
a = a.capitalize()
a

'Hello'

In [19]:
#044
file_name = "보고서.xlsx"
f = file_name.endswith('xlsx')
f

True

In [21]:
#045
file_name = "보고서.xlsx"
f = file_name.endswith(("xlsx", "xls"))
f

True

In [24]:
#046
file_name = "2020_보고서.xlsx"
f = file_name.startswith("2020")
f

True

In [25]:
#047
a = "hello world"
f = a.split()
f

['hello', 'world']

In [26]:
#048
ticker = "btc_krw"
f = ticker.split('_')
f

['btc', 'krw']

In [27]:
#049
date = "2020-05-01"
f = date.split("-")
f

['2020', '05', '01']

In [30]:
#050
data = "039490     "
f = data.rstrip()
f

'039490'