In [3]:
파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?
불린? #`bool` 타입입니다.

Object `무엇인가` not found.

In [1]:
print(3 == 5)

False

In [2]:
print(3 < 5)

True

In [4]:
x = 4
print(1 < x < 5)

True

In [5]:
print ((3 == 3) and (4 != 3))

True

In [7]:
print(3 => 4)
#꺽쇠가 3 >= 4

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3612698823.py, line 1)

In [8]:
if 4 < 3:
    print("Hello World")

In [9]:
if 4 < 3:   # 이건 틀린 조건이여서 else가 나옴
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [10]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [11]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")  #else문이 출력되고~ 그 다음 else문
else :
    print("4") # if문에서 값이 나와서 패스
print("5")

3
5

In [12]:
#안녕하세요
user = input("안녕하세요")
print(user * 2)

안녕하세요 안녕하세요

안녕하세요안녕하세요

In [14]:
user = input("숫자를 입력하세요:")
print(int(user) + 10)

숫자를 입력하세요: 30

40

In [16]:
user = input("")
if int(user) % 2 == 0:
    print("짝수")
else:
    print("홀수")

 30

짝수

In [20]:
user = input("입력값: ")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:  280

255

In [21]:
user = input("입력값: ")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값:  200

180

In [22]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간:  10:30

정각이 아닙니다.

In [24]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 샤인머스캣

오답입니다.

In [25]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명: ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명:  Microsoft

투자 경고 종목입니다.

In [26]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은:  여름

정답입니다.

In [28]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는 과일은?")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 봄

오답입니다.

In [30]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

 a

A

In [31]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score:  50

grade is C

In [32]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

입력:  100 달러

116700.0 원

In [33]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1:  500
input number2:  20
input number3:  30

500

In [35]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은 {com} 사용자입니다.")

휴대전화 번호 입력:  010-4078-8418

당신은 알수없음 사용자입니다.

In [37]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호:  014

도봉구

In [38]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호:  821010-1635210

남자

In [39]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호:  861010-1015210

서울입니다.

In [40]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호:  821010-1635210

유효하지 않은 주민등록번호입니다.

In [41]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

In [42]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [43]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [44]:
print("A")
print("B")
print("C")

A
B
C

In [45]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [46]:
변수 = "A"
b = 변수.lower()
print("변환:", b)

변환: a

In [47]:
리스트 = [10, 20, 30]
for 변수 in 리스트:
  print(변수)

10
20
30

In [48]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [49]:
for 변수 in [10, 20, 30]:
  print(변수)
  print("-------")

10
-------
20
-------
30
-------

In [50]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [52]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [53]:
리스트 = [100, 200, 300]
for 변수 in 리스트:
  print(변수 + 10)

110
210
310

In [54]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
  print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [55]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
  print(len(종목명))

6
4
4

In [56]:
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름, len(이름))

dog 3
cat 3
parrot 6

In [57]:
리스트 = ['dog', 'cat', 'parrot']
for 이름 in 리스트:
  print(이름[0])

d
c
p

In [58]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x " + str(변수))

3 x 1
3 x 2
3 x 3

In [59]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
  print("3 x ", 변수, "=", 3 * 변수)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9

In [60]:
리스트 = ["가", "나", "다", "라"]
나다라 = 리스트[1:]
for 변수 in 나다라:
  print(변수)

나
다
라

In [62]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[::2]:
  print(변수)

가
다

In [63]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
  print(변수)

라
다
나
가

In [65]:
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [66]:
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
  if 변수 % 3 == 0:
    print(변수)

3

In [67]:
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
  if (변수 < 20) and (변수 % 3 == 0):
    print(변수)

12
18

In [68]:
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >= 3:
    print(변수)

study
python
language

In [69]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.isupper():
    print(변수)

A
D

In [70]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if 변수.islower():
    print(변수)

b
c

In [71]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
  print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [72]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
  split = 변수.split(".")
  print(split[0])

hello
ex01
intro

In [73]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if split[1] == "h":
    print(변수)

intra.h
define.h

In [74]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
  split = 변수.split(".")
  if (split[1] == "h") or (split[1] == "c"):
    print(변수)

intra.h
intra.c
define.h